/*--------------------------*/
/* Pagination
/*--------------------------*/

.pagination {
	@include span(12);
	display: flex;
	flex-wrap: wrap;
	margin:30px 0;

	.search-results & {
		padding-left: 0;
		padding-right: 0;
	}
	
	a {
		display: flex;
		order: 0;
		flex: 0 1 auto;
		align-self: auto;
		padding: 11px 15px;
		
		@include hover() {
		}
		
		&.disabled {
			pointer-events: none;
			cursor: default;
			opacity: 0.3;
		}
	    
		@include screen(sm, max) {
			&.first,
			&.last {
				display: none;
			}
		}
		@include screen(md) {
			&.first {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				border-right-width: 0;
			}
			&.previous {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
			&.next {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
			&.last {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				border-left-width: 0;
			}
		}
	}
}

.pagination--legend {
	display: flex;
	order: 0;
	flex: 1 1 auto;
	align-self: auto;
	text-align: center;
	position: relative;
	margin: 10px;
	
	&::before {
		content: " ";
		@include centerer();
		border-top: 1px solid gray;
		width: 100%;
	}
	
	span {
		@include centerer();
		padding:10px;
		white-space: nowrap;
		background: color(white);
	}
}